loki.source.docker "containers" {
  targets = [
    {
      __address__ = "meat_shop_backend",
    },
  ]

  forward_to = [loki.write.default.receiver]
}

loki.process "parse_docker_logs" {
  source.loki.source.docker "containers"
}

loki.write.default.receiver "loki" {
  endpoint {
    url = "http://meat_shop_loki:3100/loki/api/v1/push"
  }
}
