// ===== LOKI OUTPUT =====
loki.write "default" {
  endpoint {
    url = "http://loki:3100/loki/api/v1/push"
  }
}

// ===== DOCKER DISCOVERY =====
//  (Backend, DB, Redis)
discovery.docker "containers" {
  host = "unix:///var/run/docker.sock"
  refresh_interval = "10s"
}
// ===== FILTER ONLY NEEDED CONTAINERS =====
discovery.relabel "filtered_containers" {
  targets = discovery.docker.containers.targets

  rule {
    source_labels = ["__meta_docker_container_name"]
    regex = "/(meat_shop_backend|meat_shop_postgres|meat_shop_redis|meat_shop_backend_2)"
    action = "keep"
  }

  rule {
    source_labels = ["__meta_docker_container_name"]
    regex = "/meat_shop_(.*)"
    target_label = "service"
  }
}
// ===== LOGS SOURCE =====
loki.source.docker "docker_logs" {
  host    = "unix:///var/run/docker.sock"
  targets = discovery.relabel.filtered_containers.output
  forward_to = [loki.process.docker_processor.receiver]
}

// ===== PROCESSING & LABELS =====
loki.process "docker_processor" {
  forward_to = [loki.write.default.receiver]


  stage.docker {}
  stage.regex {
      expression = "\\s+(?P<level>DEBUG|INFO|WARN|ERROR)\\s+"
    }

 stage.labels {
   values = {
     level     = "level",
     container = "name",
     service = "service",
   }
 }




  stage.static_labels {
    values = {
      environment = "development",
      application = "MeatShop",
    }
  }
}

// ===== PROMETHEUS  =====
prometheus.scrape "backend" {
  targets = [{"__address__" = "backend:8080", "job" = "meat-shop"}]
  metrics_path = "/actuator/prometheus"
  forward_to   = [prometheus.remote_write.default.receiver]
}

prometheus.remote_write "default" {
  endpoint {
    url = "http://prometheus:9090/api/v1/write"
  }
}